.pudo {
    font-size: 14px;
    line-height: 20px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    margin: 0;
    color: #999;
}

.contentText {
    margin-bottom: 1px;
    text-align: left;
}

.left {
    text-align: left;
}


.sellers-info {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    float: right;
}

.seller-avatar-image {
    position: relative;
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    line-height: 0;
    font-size: 0;
    color: transparent !important;
}

.seller-avatar {
    float: right;
}
.seller-text-info {
    float: left;
    margin-right: 38px;
}

.sellerName-link{
    text-decoration: none;
    color: #009cf0;
    outline: 0;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0px;
}

.seller-ann-count {
    margin-bottom: 8px;
}

.button-size {
    background-color: #f5f5f5;
    border-color: #ccc;
}
