<style>
button {
color: #fff;
background: #000;
padding: 1.2rem 2rem;
cursor: pointer;
user-select: none;
border: none;
outline: none;
transition: background 9999999s;
}

button:active {
background: red;
transition: background 0s;
}
</style>

<button>Click</button>
<button>Click</button>
<button>Click</button>
<button>Click</button>
<button>Click</button>